@page "/account/login"
@using Microsoft.AspNetCore.Mvc.ModelBinding
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6 col-xxl-4">
        <section class="mj-card mt-4">
            <form asp-route-returnUrl="@Model.ReturnUrl" id="account" class="@(ModelState.IsValid ? "" : "was-validated")" method="post">
                <div class="card-body">
                    <div class="mj-logo mb-4">
                        <img alt="Mistakes Journal logo" src="/images/ice_cream_broken.svg">
                        <span>mistakes</span>
                        <span>journal</span>
                    </div>
                    <div class="mj-card-title mb-4">
                        <h1>Welcome back</h1>
                        <h2>and get the most of your mistakes</h2>
                    </div>
                    @if (!ModelState.IsValid)
                    {
                        <div asp-validation-summary="All" class="mj-form-group mj-validation-summary"></div>
                    }
                    <div class="mj-form-group">
                        <label asp-for="Input.Email" class="form-label"></label>
                        <input
                            required
                            asp-for="Input.Email"
                            class="form-control @(ModelState.GetFieldValidationState("Email") == ModelValidationState.Invalid ? "invalid" : "")"/>
                        <span asp-validation-for="Input.Email" class="invalid-feedback"></span>
                    </div>
                    <div class="mj-form-group">
                        <label asp-for="Input.Password" class="form-label"></label>
                        <input
                            required
                            asp-for="Input.Password"
                            class="form-control @(ModelState.GetFieldValidationState("Password") == ModelValidationState.Invalid ? "invalid" : "")"/>
                        <span asp-validation-for="Input.Password" class="invalid-feedback"></span>
                    </div>
                    <div class="mj-form-group">
                        <div class="form-check">
                            <input asp-for="Input.RememberMe" class="form-check-input"/>
                            <label asp-for="Input.RememberMe" class="form-check-label">
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="mj-form-group">
                        <button type="submit" class="btn btn-primary mj-action">Sign in</button>
                    </div>
                    <div class="mj-card-footer">
                        <span>Is it your first time?</span>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Sign up!</a>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
