@page "/account/register"
@using Microsoft.AspNetCore.Mvc.ModelBinding
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6 col-xxl-4">
        <section class="mj-card mt-4">
            <form id="registration" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div class="card-body">
                    <div class="mj-logo mb-4">
                        <img alt="Mistakes Journal logo" src="/images/ice_cream_broken.svg">
                        <span>mistakes</span>
                        <span>journal</span>
                    </div>
                    <div class="mj-card-title mb-4">
                        <h1>Join us today</h1>
                        <h2>and get the most of your mistakes</h2>
                    </div>
                    @if (!ModelState.IsValid)
                    {
                        <div asp-validation-summary="All" class="mj-mj-form-group mj-validation-summary"></div>
                    }
                    <div class="row">
                        <div class="mj-form-group col-12 col-md-6">
                            <label asp-for="NewUser.FirstName" class="form-label"></label>
                            <input
                                required
                                asp-for="NewUser.FirstName"
                                class="form-control  @(ModelState.GetFieldValidationState("FirstName") == ModelValidationState.Invalid ? "invalid" : "")"/>
                            <span asp-validation-for="NewUser.FirstName" class="invalid-feedback"></span>
                        </div>
                        <div class="mj-form-group col-12 col-md-6">
                            <label asp-for="NewUser.LastName" class="form-label"></label>
                            <input
                                required
                                asp-for="NewUser.LastName"
                                class="form-control  @(ModelState.GetFieldValidationState("LastName") == ModelValidationState.Invalid ? "invalid" : "")"/>
                            <span asp-validation-for="NewUser.LastName" class="invalid-feedback"></span>
                        </div>
                    </div>
                    <div class="mj-form-group">
                        <label asp-for="NewUser.Email" class="form-label"></label>
                        <input
                            required
                            asp-for="NewUser.Email"
                            class="form-control  @(ModelState.GetFieldValidationState("Email") == ModelValidationState.Invalid ? "invalid" : "")"/>
                        <span asp-validation-for="NewUser.Email" class="invalid-feedback"></span>
                    </div>
                    <div class="mj-form-group">
                        <label asp-for="NewUser.Password" class="form-label"></label>
                        <input
                            required
                            asp-for="NewUser.Password"
                            class="form-control  @(ModelState.GetFieldValidationState("Password") == ModelValidationState.Invalid ? "invalid" : "")"/>
                        <span asp-validation-for="NewUser.Password" class="invalid-feedback"></span>
                    </div>
                    <div class="mj-form-group">
                        <label asp-for="NewUser.ConfirmPassword" class="form-label"></label>
                        <input
                            required
                            asp-for="NewUser.ConfirmPassword"
                            class="form-control  @(ModelState.GetFieldValidationState("ConfirmPassword") == ModelValidationState.Invalid ? "invalid" : "")"/>
                        <span asp-validation-for="NewUser.ConfirmPassword" class="invalid-feedback"></span>
                    </div>
                    <div class="mj-form-group mt-4">
                        <button type="submit" class="btn btn-primary mj-action">Sign up</button>
                    </div>
                    <div class="mj-card-footer">
                        <span>Already have an account?</span>
                        <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Sign in!</a>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
